# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # ConnectivityCallbacksController
  class ConnectivityCallbacksController < BaseController
    # Returns the name and endpoint URL of the callback listening services
    # registered for a given account.
    # @param [String] aname Required parameter: Account name.
    # @return [Array[ConnectivityManagementCallback]] response from the API call
    def list_registered_callbacks(aname)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v1/callbacks/{aname}',
                                     Server::M2M)
                   .template_param(new_parameter(aname, key: 'aname')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('global')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(ConnectivityManagementCallback.method(:from_hash))
                   .is_api_response(true)
                   .is_response_array(true)
                   .local_error('400',
                                'Error response.',
                                ConnectivityManagementResultException))
        .execute
    end

    # You are responsible for creating and running a listening process on your
    # server at that URL.
    # @param [String] aname Required parameter: Account name.
    # @param [RegisterCallbackRequest] body Required parameter: Request to
    # register a callback.
    # @return [CallbackActionResult] response from the API call
    def register_callback(aname,
                          body)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/v1/callbacks/{aname}',
                                     Server::M2M)
                   .template_param(new_parameter(aname, key: 'aname')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('global')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(CallbackActionResult.method(:from_hash))
                   .is_api_response(true)
                   .local_error('400',
                                'Error response.',
                                ConnectivityManagementResultException))
        .execute
    end

    # Stops ThingSpace from sending callback messages for the specified account
    # and service.
    # @param [String] aname Required parameter: Account name.
    # @param [String] sname Required parameter: Service name.
    # @return [CallbackActionResult] response from the API call
    def deregister_callback(aname,
                            sname)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/v1/callbacks/{aname}/name/{sname}',
                                     Server::M2M)
                   .template_param(new_parameter(aname, key: 'aname')
                                    .should_encode(true))
                   .template_param(new_parameter(sname, key: 'sname')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('global')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(CallbackActionResult.method(:from_hash))
                   .is_api_response(true)
                   .local_error('400',
                                'Error response.',
                                ConnectivityManagementResultException))
        .execute
    end
  end
end
