# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # DiagnosticsHistoryController
  class DiagnosticsHistoryController < BaseController
    # This endpoint allows the user to get the history data.
    # @param [HistorySearchRequest] body Required parameter: History data
    # information.
    # @return [Array[History]] response from the API call
    def get_diagnostics_history(body)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/history/actions/$search',
                                     Server::DEVICE_DIAGNOSTICS)
                   .header_param(new_parameter('*/*', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('oAuth2')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(History.method(:from_hash))
                   .is_api_response(true)
                   .is_response_array(true)
                   .local_error('default',
                                'Error response.',
                                DeviceDiagnosticsResultException))
        .execute
    end
  end
end
