# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # DiagnosticsFactoryResetController
  class DiagnosticsFactoryResetController < BaseController
    # Performs a device reboot or a factory reset on the modem portion of the
    # device.
    # @param [DeviceResetRequest] body Required parameter: A request to perform
    # a device reboot.
    # @return [ApiResponse]  the complete http response with raw body and status code.
    def decives_restart(body)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/devices/actions/restart',
                                     Server::DEVICE_DIAGNOSTICS)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(DiagnosticsObservationResult.method(:from_hash))
                    .is_api_response(true)
                    .local_error('default',
                                 'Error response.',
                                 DeviceDiagnosticsResultException))
        .execute
    end
  end
end
