# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # FixedWirelessQualificationController
  class FixedWirelessQualificationController < BaseController
    # Use this query for Fixed Wireless Qualification of an address. Network
    # types include: LTE, C-BAND and MMWAVE.
    # @param [GetWirelessCoverageRequestFWA] body Required parameter: Request
    # for network coverage details.
    # @return [WNPRequestResponse] response from the API call
    def domestic4g_and_5g_fixed_wireless_qualification(body)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/m2m/intelligence/wireless-coverage',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('oAuth2')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(WNPRequestResponse.method(:from_hash))
                   .is_api_response(true)
                   .local_error('default',
                                'Error response',
                                WNPRestErrorResponseException))
        .execute
    end
  end
end
