# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # ServicePlansController
  class ServicePlansController < BaseController
    # Returns a list of all data service plans that are associated with a
    # specified billing account. When you send a request to
    # /devices/actions/activate to activate a line of service you must specify
    # the code for one of the service plans associated with your account.
    # @param [String] aname Required parameter: Account name.
    # @return [Array[ServicePlan]] response from the API call
    def list_account_service_plans(aname)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/m2m/v1/plans/{aname}',
                                     Server::THINGSPACE)
                   .template_param(new_parameter(aname, key: 'aname')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('oAuth2')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(ServicePlan.method(:from_hash))
                   .is_api_response(true)
                   .is_response_array(true)
                   .local_error('400',
                                'Error response.',
                                ConnectivityManagementResultException))
        .execute
    end
  end
end
