# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # UpdateTriggersController
  class UpdateTriggersController < BaseController
    # Updates the promotional triggers for pseudo-MDN.
    # @param [RequestTrigger] body Optional parameter: Update the triggers
    # @return [Success] response from the API call
    def update_all_available_triggers(body: nil)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::PUT,
                                     '/m2m/v2/triggers',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('oAuth2')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(Success.method(:from_hash))
                   .is_api_response(true)
                   .local_error('default',
                                'Error response',
                                ReadySimRestErrorResponseException))
        .execute
    end
  end
end
