# verizon_thing_space_quality_of_service_api_endpoints
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module VerizonThingSpaceQualityOfServiceApiEndpoints
  # ExclusionsController
  class ExclusionsController < BaseController
    # Create a consent record to use location services as an asynchronous
    # request.
    # @param [AccountConsentCreate] body Optional parameter: Account details to
    # create a consent record.
    # @return [ConsentTransactionID] response from the API call.
    def devices_location_give_consent_async(body: nil)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/devicelocations/action/consents',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'vz-m2m-session_token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ConsentTransactionID.method(:from_hash))
                    .local_error('default',
                                 'Unexpected error.',
                                 DeviceLocationResultException))
        .execute
    end
  end
end
